@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-accent-1: 255, 128, 0;
    --color-accent-2: 0, 85, 255;
    --color-bkg: 31, 41, 55;
    --color-textColor: 255, 128, 0;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100vw;
  display: block !important;
}

input {
  border-radius: 3px !important;
  padding-left:0.875rem;
  padding-right:0.875rem;
}
.custom-input{
  height:36px;
}

.btn-primary{
  @apply bg-transparent hover:bg-bkg text-sm text-bkg hover:text-white py-1 px-4 border border-white border-bkg rounded 
}
.content-height {
  max-height: calc(100vh - 10rem);
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}
::-webkit-scrollbar:horizontal{
  height: 6px;
  background-color: #1F2937;
}
::-webkit-scrollbar-thumb {
  background-color: #1F2937;
  border-radius: 100px;
}

